<div class="container-fluid cHeight bgColor">
  <div class="row rStretch">
    <div class="col-3"></div>
    <div class="col-6 moveCenter">
      <div class="fBg">
        <h2 class="txtRecolor txtArrange">Create Account</h2>
        <form>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="txtRecolor" for="inputEmail">First Name</label>
                <input type="name" class="form-control" id="firstName" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="txtRecolor" for="inputEmail">Last Name</label>
                <input type="name" class="form-control" id="lastName" aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="txtRecolor" for="inputPassword">Email</label>
            <input type="email" class="form-control" id="inputEmail">
          </div>
          <div class="form-group">
            <label class="txtRecolor" for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label txtColor" for="exampleCheck1">I'd like to receive weekly Deals</label>
          </div>
          <div class="txtArrange">
            <button type="submit" class="btn btn-primary btnMove"><a class="btnColor"
                routerLink="/main">Submit</a></button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
