.fNav {
  background-color: black;
  color: white;
}

.fStretch {
  margin: 0;
  padding: 0;
}

.fAlign {
  display: flex;
  justify-content: flex-end;
}

.fAlign2 {
  display: flex;
  justify-content: center;
}
