.bgColor {
  background-color: rgb(37, 36, 36);
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
}

.cardAlign {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.cHeight {
  min-height: 539px;
  height: auto !important;
  height: 501px;
}
