<div class="container-fluid bgColor">
  <div class="row">
    <div class="col">
      <div class="container cardAlign">
        <img src="../../../assets/img/Rectangle 39.png" class="img-fluid" width="285">
        <div class="centered">About Us</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="../../../assets/img/Image 12.png" class="img-fluid">
    </div>
    <div class="col-9">
      <p class="pTxt">My friends and I started idea for this business back in
        High School when we didn't have much. We wanted to
        make something that can be accessible to everyone at a
        cost that can affordable for everyone.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <p class="pTxt">For that very reason is why we have constant sales on a
        great variety of goods. We want our customers to be able
        to find whatever they need because we know how it feels
        when you're not able to get basic necessities and
        scraping by. So whether you need home furniture to
        stuff that shouldn't exist. Just know, We Got You..</p>
    </div>
    <div class="col-3">
      <img src="../../../assets/img/Image 13.png" class="img-fluid" width="350px">
    </div>
  </div>
</div>
