<div class="container-fluid cHeight bgColor">
  <div class="row rStretch">
    <div class="col-3"></div>
    <div class="col-6 moveCenter">
      <div class="fBg">
        <h2 class="txtRecolor txtArrange">Sign-In</h2>
        <form>
          <div class="form-group">
            <label class="txtRecolor" for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label class="txtRecolor" for="inputPassword">Password</label>
              </div>
              <div class="col">
                <label class="pRecolor" for="inputPassword">Forgot your Password?</label>
              </div>
              <input type="password" class="form-control fArrange" id="inputPassword">
            </div>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label txtColor" for="exampleCheck1">Remember Me</label>
            <small class="form-text txtRecolor">Don't have an Account?<a routerLink="/create-account">(Make one
                Here)</a></small>
          </div>
          <div class="txtArrange">
            <button type="submit" class="btn btn-primary btnMove"><a class="btnColor"
                routerLink="/main">Submit</a></button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
